tensorflow-deep-learning-main/.gitignore
tensorflow-deep-learning-main/00_tensorflow_fundamentals.ipynb
tensorflow-deep-learning-main/01_neural_network_regression_in_tensorflow.ipynb
tensorflow-deep-learning-main/02_neural_network_classification_in_tensorflow.ipynb
tensorflow-deep-learning-main/03_convolutional_neural_networks_in_tensorflow.ipynb
tensorflow-deep-learning-main/04_transfer_learning_in_tensorflow_part_1_feature_extraction.ipynb
tensorflow-deep-learning-main/05_transfer_learning_in_tensorflow_part_2_fine_tuning.ipynb
tensorflow-deep-learning-main/06_transfer_learning_in_tensorflow_part_3_scaling_up.ipynb
tensorflow-deep-learning-main/07_food_vision_milestone_project_1.ipynb
tensorflow-deep-learning-main/08_introduction_to_nlp_in_tensorflow.ipynb
tensorflow-deep-learning-main/09_SkimLit_nlp_milestone_project_2.ipynb
tensorflow-deep-learning-main/10_time_series_forecasting_in_tensorflow.ipynb
tensorflow-deep-learning-main/11_passing_the_tensorflow_developer_certification_exam.md
tensorflow-deep-learning-main/LICENSE
tensorflow-deep-learning-main/mkdocs.yml
tensorflow-deep-learning-main/README.md
tensorflow-deep-learning-main/.github/workflows/make_docs.yml
tensorflow-deep-learning-main/docs/00_tensorflow_fundamentals.ipynb
tensorflow-deep-learning-main/docs/01_neural_network_regression_in_tensorflow.ipynb
tensorflow-deep-learning-main/docs/02_neural_network_classification_in_tensorflow.ipynb
tensorflow-deep-learning-main/docs/03_convolutional_neural_networks_in_tensorflow.ipynb
tensorflow-deep-learning-main/docs/04_transfer_learning_in_tensorflow_part_1_feature_extraction.ipynb
tensorflow-deep-learning-main/docs/05_transfer_learning_in_tensorflow_part_2_fine_tuning.ipynb
tensorflow-deep-learning-main/docs/06_transfer_learning_in_tensorflow_part_3_scaling_up.ipynb
tensorflow-deep-learning-main/docs/07_food_vision_milestone_project_1.ipynb
tensorflow-deep-learning-main/docs/08_introduction_to_nlp_in_tensorflow.ipynb
tensorflow-deep-learning-main/docs/09_SkimLit_nlp_milestone_project_2.ipynb
tensorflow-deep-learning-main/docs/10_time_series_forecasting_in_tensorflow.ipynb
tensorflow-deep-learning-main/docs/index.md
tensorflow-deep-learning-main/docs/assets/misc-ztm-logo.png
tensorflow-deep-learning-main/extras/BTC_USD_2013-10-01_2021-05-18-CoinDesk.csv
tensorflow-deep-learning-main/extras/helper_functions.py
tensorflow-deep-learning-main/extras/image_classification_test.py
tensorflow-deep-learning-main/extras/image_data_modification.ipynb
tensorflow-deep-learning-main/extras/skimlit_example_abstracts.json
tensorflow-deep-learning-main/extras/TEMPLATE_07_food_vision_milestone_project_1.ipynb
tensorflow-deep-learning-main/extras/interactive_notebooks/01_neural_network_regression_in_tensorflow_interactive.ipynb
tensorflow-deep-learning-main/extras/solutions/🛠_00_TensorFlow_Fundamentals_🛠_Exercises_&_📖_Extra_curriculum.ipynb
tensorflow-deep-learning-main/extras/solutions/🛠_01_Neural_network_regression_in_Tensorflow.ipynb
tensorflow-deep-learning-main/extras/solutions/🛠_02_neural_network_classification_in_tensorflow.ipynb
tensorflow-deep-learning-main/extras/solutions/🛠_03_Computer_vision_&_convolutional_neural_networks_in_TensorFlow_Exercise_Solution.ipynb
tensorflow-deep-learning-main/extras/solutions/🛠_04_Transfer_Learning_with_TensorFlow_Part_1_Feature_Extraction_Exercise_Solutions.ipynb
tensorflow-deep-learning-main/extras/solutions/🛠_05_Transfer_Learning_in_TensorFlow_Part_2_Fine_tuning_Exercise_solutions.ipynb
tensorflow-deep-learning-main/extras/solutions/🛠_06_Transfer_Learning_in_TensorFlow_Part_3_Scaling_up_Exercise_Solutions.ipynb
tensorflow-deep-learning-main/extras/solutions/🛠_08_Introduction_to_NLP_(Natural_Language_Processing)_in_TensorFlow_Exercise_Solution.ipynb
tensorflow-deep-learning-main/extras/solutions/🛠_09_Milestone_Project_2_SkimLit_📄🔥_Exercise_Solutions.ipynb
tensorflow-deep-learning-main/extras/solutions/🛠_10_Time_series_fundamentals_and_Milestone_Project_3_BitPredict_💰📈_Exercise_Solutions.ipynb
tensorflow-deep-learning-main/images/00-how-a-network-learns.png
tensorflow-deep-learning-main/images/00-lining-up-dot-products.png
tensorflow-deep-learning-main/images/00-matrix-multiply-crop.gif
tensorflow-deep-learning-main/images/00-scalar-vector-matrix-tensor.png
tensorflow-deep-learning-main/images/01-input-and-output-shapes-housing-prices.png
tensorflow-deep-learning-main/images/02-anatomy-of-a-confusion-matrix.png
tensorflow-deep-learning-main/images/02-fashion-mnist-learning.png
tensorflow-deep-learning-main/images/02-improving-a-model-from-model-perspective.png
tensorflow-deep-learning-main/images/02-learning-rate-vs-loss.png
tensorflow-deep-learning-main/images/02-tensorflow-playground-replication-exercise.png
tensorflow-deep-learning-main/images/02-tensorflow-playground-simple-net-linear-activation.png
tensorflow-deep-learning-main/images/02-tensorflow-playground-two-layer-net-relu-activation.png
tensorflow-deep-learning-main/images/03-hamburger.jpeg
tensorflow-deep-learning-main/images/03-pizza-dad.jpeg
tensorflow-deep-learning-main/images/03-simple-convnet.png
tensorflow-deep-learning-main/images/03-steak.jpeg
tensorflow-deep-learning-main/images/03-sushi.jpeg
tensorflow-deep-learning-main/images/04-different-kinds-of-transfer-learning.png
tensorflow-deep-learning-main/images/04-resnet-feature-extractor.png
tensorflow-deep-learning-main/images/04-tensorflow-hub-efficientnetb0.png
tensorflow-deep-learning-main/images/04-transfer-learning-feature-extraction.png
tensorflow-deep-learning-main/images/05-data-augmentation-inside-a-model.png
tensorflow-deep-learning-main/images/05-fine-tuning-an-efficientnet-model.png
tensorflow-deep-learning-main/images/05-transfer-learning-feature-extraction-vs-fine-tuning.png
tensorflow-deep-learning-main/images/06-efficientnetb0-feature-extractor-with-dense-layer-on-top.png
tensorflow-deep-learning-main/images/06-lowering-the-learning-rate.png
tensorflow-deep-learning-main/images/06-ml-serial-experimentation.png
tensorflow-deep-learning-main/images/07-feature-extraction-then-fine-tune.png
tensorflow-deep-learning-main/images/07-mixed-precision-code-before-and-after.png
tensorflow-deep-learning-main/images/07-mixed-precision-speedup-equals-3x-gpu.png
tensorflow-deep-learning-main/images/07-prefetching-from-hands-on-ml.png
tensorflow-deep-learning-main/images/08-example-nlp-problems.png
tensorflow-deep-learning-main/images/08-ideal-performance-speed-of-pred-tradeoff-highlighted.png
tensorflow-deep-learning-main/images/08-ideal-position-for-speed-performance-tradeoff.png
tensorflow-deep-learning-main/images/08-inputs-and-outputs-with-shapes-and-models-were-going-to-build.png
tensorflow-deep-learning-main/images/08-RNN-architecture-coloured-block-edition.png
tensorflow-deep-learning-main/images/08-tensorboard-dense-model-training-curves.png
tensorflow-deep-learning-main/images/08-text-classification-inputs-and-outputs.png
tensorflow-deep-learning-main/images/08-tokenization-vs-embedding.png
tensorflow-deep-learning-main/images/08-USE-tensorflow-hub-encoder-decoder-model.png
tensorflow-deep-learning-main/images/09-engineered-features-at-test-time.png
tensorflow-deep-learning-main/images/09-model-tf-hub-USE-to-dense-layer.png
tensorflow-deep-learning-main/images/09-skimlit-overview-input-and-output.png
tensorflow-deep-learning-main/images/09-token-vs-character-embeddings.png
tensorflow-deep-learning-main/images/10-bitcoin-forecast-in-seq2seq-terms.png
tensorflow-deep-learning-main/images/10-bitcoin-price-window-for-one-month.png
tensorflow-deep-learning-main/images/10-ensemble-model-example.png
tensorflow-deep-learning-main/images/10-example-time-series-problems.png
tensorflow-deep-learning-main/images/10-figure-1-nbeats-paper-annotated.png
tensorflow-deep-learning-main/images/10-mark-saroufim-tweet-forecasting-bs.png
tensorflow-deep-learning-main/images/10-nbeats-architecture-double-residual-stacking.png
tensorflow-deep-learning-main/images/10-nbeats-basic-block-replication-with-tensorflow-layer-subclassing.png
tensorflow-deep-learning-main/images/10-nbeats-stack-model-vs-nbeats-architecture.png
tensorflow-deep-learning-main/images/10-nbeats-table-18-hyperparameters.png
tensorflow-deep-learning-main/images/10-prediction-intervals-from-ubers-uncertainty-measures.png
tensorflow-deep-learning-main/images/10-prediction-loop-for-forecasts.png
tensorflow-deep-learning-main/images/10-the-turkey-problem.png
tensorflow-deep-learning-main/images/10-time-series-train-test-split.png
tensorflow-deep-learning-main/images/10-time-series-windows-and-horizons.png
tensorflow-deep-learning-main/images/10-types-of-time-series-patterns.png
tensorflow-deep-learning-main/images/10-univariate-and-multivariate-time-series-data.png
tensorflow-deep-learning-main/images/11-daniel-bourke-tensorflow-developer-certification-network.png
tensorflow-deep-learning-main/images/11-daniel-bourke-tensorflow-developer-certification.png
tensorflow-deep-learning-main/images/11-do-certificates-guarantee-a-job-tweet.png
tensorflow-deep-learning-main/images/11-getting-example-script-to-run-in-pycharm.png
tensorflow-deep-learning-main/images/11-map-the-skills-checklist-to-a-notebook.png
tensorflow-deep-learning-main/images/misc-run-notebook-in-google-colab.png
tensorflow-deep-learning-main/images/misc-studio-setup.jpeg
tensorflow-deep-learning-main/images/misc-tensorflow-deep-learning-outline.png
tensorflow-deep-learning-main/images/misc-tensorflow-workflow-outline.png
tensorflow-deep-learning-main/images/misc-ztm-logo.png
tensorflow-deep-learning-main/slides/00_introduction_to_tensorflow_and_deep_learning.pdf
tensorflow-deep-learning-main/slides/01_neural_network_regression_with_tensorflow.pdf
tensorflow-deep-learning-main/slides/02_neural_network_classification_with_tensorflow.pdf
tensorflow-deep-learning-main/slides/03_convolution_neural_networks_and_computer_vision_with_tensorflow.pdf
tensorflow-deep-learning-main/slides/04_transfer_learning_with_tensorflow_part_1_feature_extraction.pdf
tensorflow-deep-learning-main/slides/05_transfer_learning_with_tensorflow_part_2_fine_tuning.pdf
tensorflow-deep-learning-main/slides/06_transfer_learning_with_tensorflow_part_3_scaling_up.pdf
tensorflow-deep-learning-main/slides/07_milestone_project_1_food_vision.pdf
tensorflow-deep-learning-main/slides/08_natural_language_processing_in_tensorflow.pdf
tensorflow-deep-learning-main/slides/09_milestone_project_2_skimlit.pdf
tensorflow-deep-learning-main/slides/10_time_series_fundamentals_and_milestone_project_3_bitpredict.pdf
tensorflow-deep-learning-main/slides/11_passing_the_tensorflow_developer_certification_exam.pdf
tensorflow-deep-learning-main/video_notebooks/00_tensorflow_fundamentals_video.ipynb
tensorflow-deep-learning-main/video_notebooks/01_neural_network_regression_in_tensorflow_video.ipynb
tensorflow-deep-learning-main/video_notebooks/02_neural_network_classification_in_tensorflow_video.ipynb
tensorflow-deep-learning-main/video_notebooks/03_convolutional_neural_networks_with_tensorflow_video.ipynb
tensorflow-deep-learning-main/video_notebooks/04_transfer_learning_in_tensorflow_part_1_feature_extraction_video.ipynb
tensorflow-deep-learning-main/video_notebooks/05_transfer_learning_in_tensorflow_part_2_fine_tuning_video.ipynb
tensorflow-deep-learning-main/video_notebooks/06_transfer_learning_in_tensorflow_part_3_scaling_up_video.ipynb
tensorflow-deep-learning-main/video_notebooks/07_milestone_project_1_food_vision_video.ipynb
tensorflow-deep-learning-main/video_notebooks/08_introduction_to_nlp_in_tensorflow_video.ipynb
tensorflow-deep-learning-main/video_notebooks/09_SkimLit_nlp_milestone_project_2_video.ipynb
tensorflow-deep-learning-main/video_notebooks/10_time_series_forecasting_with_tensorflow_video.ipynb
tensorflow-deep-learning-main/video_notebooks/README.md
